%h1 Turbo Bootstrap Issue
.alert.alert-primary{role: 'alert'}
	This will look like a alert if bootstrap is working

- 100.times do |f|
	%p ___________________________________________________________________________________________
	= link_to '/test_post' do
		%h2= "#{f.ordinalize} Post Title"
		%p lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, lots of text, 
